header {
    width: 100%;
    height: $header-height;

    h1 {
        display: none;
    }

    img {
        width: 80%;
        min-width: 650px;
    }
}

section {
    width: 50%;
    height: $content-height;
    float: left;

    &:nth-of-type(2) {
        :after {
            content: "";
            display: block;
            clear: both;
        }
    }

    @include media($one-column-bp) {
        width: 100%;
        float: none;
    }

    .centered {
        width: 75%;

        @include media($tablet-bp) {
            width: 60%;
        }

        @include media($one-column-bp) {
            width: 100%;
        }
    }

    &:before {
        content: "";
        display: block;
        height: 0;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @include transition(height 0.4s cubic-bezier(0.075, 0.82, 0.165, 1));

        @include media($one-column-bp) {
            height: $bar-height;
        }
    }

    &:hover:before {
        height: $bar-height;
    }

    :before {
        @include media($one-column-bp) {
            display: none;
        }
    }
}

.centered {
    position: relative;
    left: 50%;
    top: 50%;
    @include transform(translateX(-50%) translateY(-50%));
}