header {
    width: 100%;
    height: $header-height;
    min-height: 125px;

    h1 {
        display: none;
    }

    img {
        width: 80%;
        min-width: 650px;
    }
}

section {
    width: 50%;
    height: $content-height;
    display: inline-block;


    @include media($one-column-bp) {
        width: 100%;
        min-height: 300px;
    }

    .centered {
        display: inline-block;
    }

    &:before {
        content: "";
        display: block;
        height: 0;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @include transition(height 0.4s cubic-bezier(0.075, 0.82, 0.165, 1));

        @include media($one-column-bp) {
            display: none;
        }
    }

    &:hover:before {
        height: $bar-height;
    }
}

.centered {
    position: relative;
    left: 50%;
    top: 50%;
    @include transform(translateX(-50%) translateY(-50%));
}