header {
    background-color: $header-color;
    overflow: hidden;
}

section {
    box-sizing: border-box;
    background-color: $content-color;
    color: $text-color;
    position: relative;

    h2 {
        font-weight: bold;
        margin-top: 0;
        font-size: 32px;

        @include media($tablet-bp) {
            font-size: 24px;
        }
    }

    p, a, p a {
        font-size: 21px;
        margin: 8px 0;

        @include media($tablet-bp) {
            font-size: 18px;
        }
    }

    a {
        text-decoration: none;
        color: $text-color;
        @include transition(color 0.4s ease-out);

        &:visited {
            color: $text-color;
        }
        &:hover {
            color: $highlight-color;
        }

        @include media($one-column-bp) {
            color: $highlight-color;
            &:visited {
                color: $highlight-color;
            }
        }
    }

    &:nth-of-type(1) {
        @include media($one-column-bp) {
            border-top: 10px solid $bar-color;
        }
    }

    &:nth-of-type(2) {
        border-left: 1px solid $separator-color;

        @include media($one-column-bp) {
            border-left: none;
            border-top: 1px solid $separator-color;
        }
    }

    &:before {
        background-color: $bar-color;
    }
}